//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 24 11:53:47 2021
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "M21" LEVEL 1;
COMP "rx" LOCATE = SITE "A21" LEVEL 1;
COMP "tx" LOCATE = SITE "A20" LEVEL 1;
SCHEMATIC END;

